{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>Location List</h1>

{% for location in location_list %}
<div class="card" style="width: 18rem;">
  <a href="{% url 'locations_detail' location.id %}">
    <!-- <img class="card-img-top" src="{% static '/img/placeholder-img.jpeg' %}" alt="img"> -->
    <div class="card-body">
      <h3 class="card-title">{{ location.name }}</h3>
      <hr class="solid">
      <span class="card-body text-center">{{ location.open_hours }} - {{ location.closing_hours }}</span>
    </div>
  </a>
</div>

{% endfor %}

{% endblock %}