body {
    /* display: flex;
    min-height: 100vh;
    flex-direction: column; */
  }
  
  main {
    /* flex: 1 0 auto; */
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .left {
    font-family: Nunito;
    font-style: bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    line-height: 190%;
    vertical-align: top;
    color: #0F214F;
  }

  .landing-img {
    width: 100%;
  }

  h1 {
    font-family: 'Crimson Text', serif;
    font-size: 76px;
    color: #0F214F;
    margin-top: 50px;
    margin-bottom: 3.5rem;
    line-height: 1;
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 1;
  }

  .btn {
    border-radius: 100em;
    border: 0px;
    padding: 7px 25px;
  
  }

  .btn.btn-primary {
    background-color: #f18911;
  }