body {
    /* display: flex;
    min-height: 100vh;
    flex-direction: column; */
    cursor: url('../img/coconut.png'), auto;
  }
  
  main {
    height: 400px;
    
  }
  
  footer {
    padding-top: 10rem;
    text-align: right;
  }

  .left {
    font-family: Nunito;
    font-style: bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    line-height: 190%;
    vertical-align: top;
    color: #0F214F;
  }

  h1 {
    font-family: 'Crimson Text', serif;
    font-size: 76px;
    color: #0F214F;
    margin-top: 150px;
    margin-bottom: 4.5rem;
    line-height: 1;
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 1;
  }

  .btn {
    border-radius: 100em;
    border: 0px;
    padding: 7px 25px;
    margin-top: 20px;
  }

  .btn.btn-primary {
    background-color: #f18911;
  }

  .card-img-top {
    padding-top: 10px;
    width: 100%;
    border-radius: 1.25rem;
  }

  .card {
    margin-right: 25px;
    border-radius: 1.25rem;
  }

  .landing {
    background-image: url('../img/wave.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 125px;
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0% { 
      background-position-y: 100%;
      } 
    50% {
      background-position-y: 95%;
    }
    100% {
      background-position-y: 100%;
    }
  }

  @keyframes drive {
    0% { 
      transform: translatey(0px);
    } 
    50% {
      transform: translatey(-4px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  @keyframes luggage {
    0% { 
      transform: translatey(0px);
    } 
    40% {
      transform: translatey(-8px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .islandbg {
    background-image: url('../img/island.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column;
    min-height: 500px;
    text-align: center; 
    align-items: center;
    justify-content: end;
    height: 600px;
  }

  .car {
    width: 350px;
    animation: drive .6s ease-in-out infinite;
  }

  .luggage {
    width: 145px;
    width: 145px;
    margin-right: -120px;
    margin-bottom: -9px;
    z-index: 100;
    animation: luggage .7s ease-in-out infinite;
  }

  .header-logo {
    margin-bottom: 10px;
  }

  