body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .left {
    font-family: Nunito;
    font-style: bold !important;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    line-height: 190%;
    align: left;
    vertical-align: top;
    /* need to figure out */
    color: #0F214F !important;
  }