{% extends 'base.html' %}
{% block content %}
{% load static %}


<h1>Itinerary Details</h1>

<div class="row">
  <div class="col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h1 class="mb-0">{{ itinerary.city }}</h1>
        <h4 class="mb-1">{{ itinerary.arrival_date }} - {{ itinerary.departure_date }}</h4>
        {% if request.user.id == itinerary.user.id %}
        <div class="card-action">
          <a href="{% url 'itinerary_update' itinerary.id %}">Edit</a>
          <a href="{% url 'itinerary_delete' itinerary.id %}">Delete</a>
        </div>
        {% endif %}
      </div>
    </div>

    {% for photo in itinerary.photo_set.all %}
    <img class="responsive-img card-panel"  src="{{photo.url}}">
      {% if request.user.id == itinerary.user.id %}
        <form action="{% url 'photo_delete' photo.id %}" enctype="multipart/form-data" method="POST" id="photo-form">
        {% csrf_token %}
        <button type="submit" class="btn" id="photo-button">X</button>  
        </form>
      {% else %}
        <div class="card-panel center-align">No Photos Uploaded</div>
      {% endif %}
    {% endfor %}

    {% if request.user.id == itinerary.user.id %}
    <div class="input-group mb-3">
      <div class="custom-file">
        <form action="{% url 'add_photo' itinerary.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file" class="custom-file-input">
      </div>
      <div class="input-group-append">
        <input type="submit" class="custom-file-input" value="Upload Photo">
      </div>
      </form>
    {% endif %}
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>Added Locations</h3>
    {% if itinerary.locations.count %}
      {% for location in itinerary.locations.all %}
        <div class="card text-center">
          <div class="card-content">
            <span class="card-title">
              <p>name: {{ location.name }}</p>
              <p>website: {{location.website}}</p>
            </span>
          </div>
          {% if request.user.id == itinerary.user.id %}
          <div class="card-action">
            <form action="{% url 'remove_location' itinerary.id location.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <h5>No Locations Added</h5>
    {% endif %}
  </div>

  {% if request.user.id == itinerary.user.id %}
  <div class="col s6">
    <h3>Available Locations</h3>
    
    {% if locations.count %}
      {% for location in locations.all %}
        <div class="card text-center">
          <div class="card-content">
            <span class="card-title">
              <p class="card-name">name: {{ location.name }}</p>
              <p>website: {{location.website}}</p>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'add_location' itinerary.id location.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form> 
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>Already Has All Locations Available</h5>
    {% endif %}
  </div>
  {% endif %}

</div>
<div id="map"></div>

<div class="col s6">
  <div class="row d-flex justify-content-center">
    <form class="comment-form" action="{% url 'add_comment' itinerary.id %}" method="POST">
      {% csrf_token %}
      <span class="form-control me-2">{{ comment_form.as_p }}</span>
      <input type="submit" class="btn" value="Publish">
    </form>
  </div>
  <br>
  {% if not itinerary.comment_set.count %}
    <div class="card-panel red-text center-align">No comments yet...</div>
  {% else %}
    <table class="striped">
      <thead>
        <tr><th>From</th><th>Date</th><th>Content</th></tr>
      </thead>
      <tbody>
        {% for comment in itinerary.comment_set.all %}
          <tr>
            <td>{{comment.user}}</td>
            <td>{{comment.date}}</td>
            <td>{{comment.content}}</td>
            {% if request.user.id == comment.user.id %}
            <td><a href="{% url 'remove_comment' comment.id %}">Delete</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{ geo_key }}"></script>

<script>

  const GEO_KEY = '{{ geo_key }}';
  const city = '{{ itinerary.city }}';
  const geoUrl = `https://maps.googleapis.com/maps/api/geocode/json?address=${city}&key=${GEO_KEY}`;

  let lat, lng, map;

  fetch(geoUrl).then(res => res.json())
    .then(results => {
      console.log(results)
      lat = results.results[0].geometry.location.lat;
      lng = results.results[0].geometry.location.lng;
      map = new google.maps.Map(document.getElementById("map"), {
        center: {lat, lng},
        zoom: 10,
        styles: [
    {
        "featureType": "all",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "weight": "2.00"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#9c9c9c"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#eeeeee"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#7b7b7b"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#46bcec"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#c8d7d4"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#070707"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    }
]
      });
    }).then(() => {
      const locations = [
        {% for location in itinerary.locations.all %}
          {address: "{{location.address}}", name: "{{location.name}}"},
        {% endfor %}
      ];
      addMarkers(locations);
    });
  
  
  async function addMarkers(locations){
    for (let location of locations){
      const url = `https://maps.googleapis.com/maps/api/geocode/json?address=${location.address}&key=${GEO_KEY}`;
      const results = await fetch(geoUrl).then(res => res.json());
      let lat = results.results[0].geometry.location.lat;
      let lng = results.results[0].geometry.location.lng;
      new google.maps.Marker({
        position: {lat, lng},
        map,
        title: `${location.name}`,
      });
    }
}

</script>

{% endblock %}
